mango-center-state{
   position: absolute; 
   width: 100%;
   height: 100%;
}

/* 状态动画 */
@keyframes animate {
  from{
    opacity: 1;
  }
  to{
    transform: scale(2);
    opacity: 0;
  }
}

/* loading 动画 */
@keyframes loading {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

/**** splasn 动画 *****/
@keyframes fadein{
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}

/* 全部初始皆为隐藏状态 */
mango-center-state-error,
mango-center-state-correct,
mango-center-state-loading,
mango-center-state-tip,
mango-center-state-ad-error,
mango-center-state-blue,
mango-center-state-payment,
mango-center-state-finish{
  display: none;
}

/***  splash UI  ***/
mango-center-state-splash {
  width: 327px;
  height: 110px;
  top: 50%;
  margin-top: -70px;
  position: absolute;
  left: 50%;
  margin-left: -163.5px;
}

mango-center-state-splash .splash-inner{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(//img.mgtv.com/imgotv-miniv6/player/h5skin/mgtv.png) center center no-repeat;
}

mango-center-state-splash .loading-ico{
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -12px;
  left: 133px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  background: url(//img.mgtv.com/imgotv-miniv6/player/h5skin/loading.png) no-repeat;
  animation: loading .8s infinite linear;
}

/** loading UI **/
mango-center-state-loading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}
mango-center-state-loading .loading-inner{
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}

mango-center-state-loading .loading-icon{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    background: url(//img.mgtv.com/imgotv-miniv6/player/h5skin/loading.png) no-repeat;
    animation: loading .8s infinite linear;
}


mango-center-state.error mango-center-state-error,
mango-center-state.correct mango-center-state-status,
mango-center-state.loading mango-center-state-loading,
mango-center-state.tip mango-center-state-tip{
  display: inline-block;
}
mango-center-state-status{
  width: 104px;
  height: 104px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -52px;
  margin-left: -52px;
}

mango-center-state-tip{
  position: absolute;
  left: 26px;
  bottom: 26px;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background: rgba(0, 0, 0, .5);
  animation: animate .5s linear 1 normal forwards;
}

mango-center-state.play span{
  background-image: url('./image/play.svg');
}
mango-center-state.pause span{
  background-image: url('./image/pause.svg');
}
mango-center-state.back span{
  background-image: url('./image/back.svg');
}
mango-center-state.forward span{
  background-image: url('./image/forward.svg');
}
mango-center-state.volume-high span{
  background-image: url('./image/volume-high.svg');
}
mango-center-state.volume-low span{
  background-image: url('./image/volume-low.svg');
}

mango-center-state-tip span{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 14px;
  background-origin: content-box;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: initial;
}

mango-center-state.play span{
  background-position: 110% 50%;
}

mango-center-state-error{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  font-size: 16px;
  z-index: 9;
  color: rgb(255, 207, 0);
  text-shadow: 0 0 3px rgb(255, 0, 0);
  font-weight: 100;
  text-align: center;
}